<p>
  <label><%= l(:label_hide_comments_images) %></label>
  <%= check_box_tag('settings[hide_comments_images]',1,value=Setting.plugin_redmine_inline_note_images_plugin['hide_comments_images'])%>
</p>
